<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block style %}
		<link rel="stylesheet" href="/assets/css/global.css">
	{% endblock %}
	<title>Document</title>
</head>
<body>
    <header></header>
    <main>
		<nav>
			<a href="#">Home</a>
			<a href="#">About</a>
		</nav>
		<section>
			{% block main %}
				{{ content |safe }}
			{% endblock %}
		</section>
    </main> 
    <footer>Site Footer</footer> 
</body>
</html>